<div *ngIf="movie" class="row">
  <div class="col-md-12">
    <h2 *ngIf="movie._id">Movie Details</h2>
    <h2 *ngIf="!movie._id">New movie</h2>
  </div>
</div>
<div *ngIf="movie" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="movie-name">Name</label>
      <input class="form-control" name="movie-name" [(ngModel)]="movie.name" placeholder="Name" />
    </div>
    <div class="form-group">
      <label for="movie-year">Year</label>
      <input class="form-control" name="movie-year" [(ngModel)]="movie.year" placeholder="1996" />
    </div>
    <div class="form-group">
      <label for="movie-rank">rank</label>
      <input class="form-control" name="movie-rank" [(ngModel)]="movie.rank" placeholder= 0 />
    </div>
    
    <button class="btn btn-primary" *ngIf="!movie._id" (click)="createMovie(movie)">Create</button>
    <button class="btn btn-info" *ngIf="movie._id" (click)="updateMovie(movie)">Update</button>
    <button class="btn btn-danger" *ngIf="movie._id" (click)="deleteMovie(movie._id)">Delete</button>
  </form>
</div>